}
@font-face {
  font-family: "English Gothic";
  src: url(English Gothic, 17th c.TTF);
}

@font-face {
  font-family: Comicbon;
  src: url(Comicbon - personal use.ttf);
}

@font-face {
  font-family: Halloween;
  src: url(Halloween.ttf);
}

@font-face {
  font-family: KGRedHands;
  src: url(KGRedHands.ttf);
}

@font-face {
  font-family: MondayGroovy;
  src: url(Monday Groovy.ttf);
}

@font-face {
  font-family: TATTI;
  src: url(TATTI___.TTF);
}

@font-face {
  font-family: TaylorGothic;
  src: url(TaylorGothic.otf);
}

@font-face {
  font-family: BetterflyChristmas;
  src: url(betterfly christmas.ttf);
}

@font-face {
  font-family: Ubuntu;
  src: url(ubuntu.ttf);
}

@font-face {
  font-family: Roboto-Black;
  src: url(Roboto-Black.ttf);
}

@font-face {
  font-family: Roboto-BlackItalic;
  src: url(Roboto-BlackItalic.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-BoldItalic;
  src: url(Roboto-BoldItalic.ttf);
}

@font-face {
  font-family: Roboto-Italic;
  src: url(Roboto-Italic.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-LightItalic;
  src: url(Roboto-LightItalic.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-MediumItalic;
  src: url(Roboto-MediumItalic.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Thin;
  src: url(Roboto-Thin.ttf);
}

body{
  background-color: black;
}

h1 {
  text-align: center;
  font-family: TATTI;
  font-color: Ivory;
}

#Header-Paragraph {
  font-family: Comicbon;
  text-align: center;
  color: Ivory;
}

img.avatar-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20%;
  border-radius: 50%
}

.Center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
  
p.About-Me {
  font-family: Roboto-Regular;
  font-size: 20px;
  color: Ivory;
}

.hyperlink {
  color: DarkSlateBlue;
}
