/* Declaring Fonts */
@font-face {
  font-family: "English Gothic";
  src: url(English Gothic, 17th c.TTF);
}

@font-face {
  font-family: Comicbon;
  src: url(Comicbon - personal use.ttf);
}

@font-face {
  font-family: Halloween;
  src: url(Halloween.ttf);
}

@font-face {
  font-family: KGRedHands;
  src: url(KGRedHands.ttf);
}

@font-face {
  font-family: MondayGroovy;
  src: url(Monday Groovy.ttf);
}

@font-face {
  font-family: TATTI;
  src: url(TATTI___.TTF);
}

@font-face {
  font-family: TaylorGothic;
  src: url(TaylorGothic.otf);
}

@font-face {
  font-family: BetterflyChristmas;
  src: url(betterfly christmas.ttf);
}

@font-face {
  font-family: Ubuntu;
  src: url(ubuntu.ttf);
}

@font-face {
  font-family: Roboto-Black;
  src: url(Roboto-Black.ttf);
}

@font-face {
  font-family: Roboto-BlackItalic;
  src: url(Roboto-BlackItalic.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-BoldItalic;
  src: url(Roboto-BoldItalic.ttf);
}

@font-face {
  font-family: Roboto-Italic;
  src: url(Roboto-Italic.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-LightItalic;
  src: url(Roboto-LightItalic.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-MediumItalic;
  src: url(Roboto-MediumItalic.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Thin;
  src: url(Roboto-Thin.ttf);
}





/* Body Attributes */
body{
  background-color: black;
  margin: 50px;
}





/* Nav Menu */
.topnav {
  background-color: Black;
  width: 100%;
  overflow: auto;
  display: flex;
  justify-items: space-evenly;
  margin: 0 auto;
}


/* Style the links inside the navigation bar UL */
.topnav a {
  padding: 10px;
  color: Ivory;
  text-decoration: none;
  font-size: 24px;
  font-family: Roboto-Regular;
  text-align: center;
  width: 25%;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #101010;
  color: Ivory;
}

/* Add a color to the active/current link */
.topnav a:active {
  background-color: DarkSeaGreen;
  color: #101010;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
}





/* Header Items */
h1 {
  text-align: center;
  font-family: TATTI;
  color: Ivory;
  font-size: 85px;
  margin: 0 auto;
}

h2 {
  text-align: left;
  font-family: Comicbon;
  color: Ivory;
  font-size: 65px;
  margin: 0 auto;
  padding-left: 40px;
}

h3 {
  text-align: left;
  font-family: Comicbon;
  color: Ivory;
  font-size: 45px;
  margin: 0 auto;
  padding-left: 40px;
}

img.avatar-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20%;
  border-radius: 50%
}

#Header-Paragraph {
  font-family: Comicbon;
  text-align: center;
  color: Ivory;
  font-size: 60px;
  margin: 0 auto;
}





/* Stylizing Attributes */
div {
  margin-bottom: 40px;
  margin-top: 40px;
}

.Center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.center-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.hyperlink {
  font-weight: bold;
  color: Ivory;
}

.hyperlink: visited {
  font-weight: bold;
  color: DarkSeaGreen;
}

.hyperlink: hover {
  text-decoration: underline;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 60%;
}

.video {
 display: block;
 align-items: center;
 padding-top: 40px;
 padding-bottom: 40px;
 margin-left: auto;
 margin-right: auto;
}

.contact-button a {
  background: DarkSeaGreen;
  border: 1px;
  border-radius: 25px;
  color: Ivory;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 35px;
  font-family: roboto-regular;
  text-decoration: none;
  justify-items: space-evenly;
}
.contact-button a: hover {
  background: DarkSlateGrey;
  text-decoration: underline;
}


  
/* Paragraph Attributes */
p.About-Me {
  font-family: Roboto-Regular;
  font-size: 20px;
  color: Ivory;
  text-align: center;
  margin-bottom: 20px;
}

