/* Declaring Fonts */
@font-face {
  font-family: "English Gothic";
  src: url(English Gothic, 17th c.TTF);
}

@font-face {
  font-family: Comicbon;
  src: url(Comicbon - personal use.ttf);
}

@font-face {
  font-family: Halloween;
  src: url(Halloween.ttf);
}

@font-face {
  font-family: KGRedHands;
  src: url(KGRedHands.ttf);
}

@font-face {
  font-family: MondayGroovy;
  src: url(Monday Groovy.ttf);
}

@font-face {
  font-family: TATTI;
  src: url(TATTI___.TTF);
}

@font-face {
  font-family: TaylorGothic;
  src: url(TaylorGothic.otf);
}

@font-face {
  font-family: BetterflyChristmas;
  src: url(betterfly christmas.ttf);
}

@font-face {
  font-family: Ubuntu;
  src: url(ubuntu.ttf);
}

@font-face {
  font-family: Roboto-Black;
  src: url(Roboto-Black.ttf);
}

@font-face {
  font-family: Roboto-BlackItalic;
  src: url(Roboto-BlackItalic.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(Roboto-Bold.ttf);
}

@font-face {
  font-family: Roboto-BoldItalic;
  src: url(Roboto-BoldItalic.ttf);
}

@font-face {
  font-family: Roboto-Italic;
  src: url(Roboto-Italic.ttf);
}

@font-face {
  font-family: Roboto-Light;
  src: url(Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-LightItalic;
  src: url(Roboto-LightItalic.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-MediumItalic;
  src: url(Roboto-MediumItalic.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Thin;
  src: url(Roboto-Thin.ttf);
}

/* Body Attributes */
body{
  background-color: black;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: DarkSlateGrey;
  overflow: hidden;
  align: center;
  height: 75px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: Ivory;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: DarkSeaGreen;
  color: Black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: DarkSeaGreen;
  color: Black;
}

/* Header Items */
h1 {
  text-align: center;
  font-family: TATTI;
  color: Ivory;
  font-size: 85px;
}

img.avatar-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20%;
  border-radius: 50%
}

#Header-Paragraph {
  font-family: Comicbon;
  text-align: center;
  color: Ivory;
  font-size: 60px;
}

/* Stylizing Attributes */
div {
  margin-bottom: 20px;
}

.Center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.center-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.hyperlink {
  color: DarkSlateBlue;
}

/* Paragraph Attributes */
p.About-Me {
  font-family: Roboto-Regular;
  font-size: 20px;
  color: Ivory;
  text-align: center;
}

